$main-color: #3E00CD;
$sub-color: #e4e7ea;
$login-color: #f4e7e3;
$dashboard-color: #fffcfb;
$dashboard-icon-color: #3E00CD;
$step-color: #5996cc;
$dark-step-color: #5996cc;
$gray-color: #e4e7eabe;
$dark-gray-color: #423c50;